{
    "presets": [
      ["@babel/preset-env", { "modules": "umd" }],
      ["@babel/preset-react"]
    ],
    "plugins": [
      "@babel/transform-flow-strip-types",
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }
  